// viewport

$mobile: 375px;
$desktop: 1440px;

// colors

$cyan: hsl(171, 66%, 44%);
$cyan-shadow: hsl(171, 67%, 32%);
$blue: hsl(233, 100%, 69%);
$blue-shadow: hsl(233, 60%, 55%);


$darkgray: hsl(210, 10%, 33%);
$lightgray: hsl(201, 11%, 66%);
$white: #fff;

// font weight

$fw400: 400;
$fw600: 600;

// global style settings

$fs: 18px;
$font-one: 'Bai Jamjuree', sans-serif;


// null

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    // global start ------------

    text-align: center;
    
    font: {
        size: 18px;
        family: $font-one;
    }

    a {
        text-decoration: none;
        transition: color 200ms;

        &:hover{color:$lightgray;}
    }

    img {
        width: 100%;
    }

    h1,h2,h3,h4,h5,h6{
        color: $darkgray;
        margin: 2rem 0;
    }

    h2{font-size: 2rem;}
    h3{font-size: 1.5rem;}

    p{
        color: $lightgray;
        line-height: 1.8rem;
        letter-spacing: 0.3px;
        padding-bottom: 4rem;
    }
    
    .flex{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .cta-btn-split{
        margin-block: 0rem 3rem;
        .cta-btn{
            color: $white;
            padding: 1rem 4rem;
            display:block;
            width: 100%;
            text-align: center;
            border-radius: 10em;
            transition: filter 200ms;

            &:hover{
                filter:brightness(110%);
            }
        }

        .cta-button-ios{
             background-color: $cyan;
             box-shadow: 0 3px $cyan-shadow;}
        .cta-button-mac{ 
            background-color: $blue;
            box-shadow: 0 3px $blue-shadow;}
    }

    // global end ------------




    // layout start ----------- 

    main > *, footer {
        padding: 10%;
    }
    main{
        .hero-section{
            background-image: url(/images/bg-header-mobile.png);
            background-repeat: no-repeat;
            background-size: cover;

            img{width: 35%;
                padding-block:4rem;}
        }
    }

    // layout end ----------- 


    // section 3 start ----------- 

    .section-3{
        > p {margin-bottom: 6rem;}
        img{width:20%;}
    }

    // section 3 end ----------- 


    // section 4 start ----------- 

    .section-4{
        div{display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
        
            img{
                width: calc(50% - 10vw);
            }}
    }

    // section 4 end ----------- 





    // pre footer start ----------- 

    // pre footer end ----------- 




    // footer section ------------

    footer{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background-color: #f5f5f5;

        img{
            width: 20%;}
        a{
            position: relative;
            width: fit-content;
            color: $darkgray;
            transition: transform 200ms;

            &:hover{
                transform: scale(115%);
            }
        }

        
        .footer-col-2{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }

        .footer-col-3{
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 1.5rem;

            i{  transition: color 200ms, transform 200ms;
                &:hover{color: $blue;
                        transform: scale(115%);}
                    }
        }
        
    }}